@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Show page views and other information?</h1>
    <p>If not that then maybe make event manager the home page?</p>
</div>
