@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="container">
            <center>
                <img src="https://www.visitpittsburgh.com/imager/s3_amazonaws_com/visit-pittsburgh/CMS/doors-open-stacked2_2200f99a241e55606b0e5da9ea141a39.jpg" height="75%" width="75%" />
            </center>
        </div>
        <div class="container">
            <div class="get-started">
                <a asp-controller="BuildingModels" asp-action="Index" class="btn btn-dark btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</div>
