@page
@model DoorsOpen.Views.ImageUpload.CreateModel
@{
}

<h1>Hello from image upload</h1>

<form method="post" enctype="multipart/form-data" asp-antiforgery="true">
    <input type="file" name="upload">
    <input type="text" name="picturetext" />
    <button type="submit">Upload</button>
</form>
